<<<<<<< HEAD
.footer__column_content_copyright {
    flex-basis: 711px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
=======
.footer__column_content_copyright {
    flex-basis: 711px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
>>>>>>> f0dc034faaf3e0ba711813c202062aaaef0c5b3c
}