<<<<<<< HEAD
.footer__column-heading {
    margin: 0;
    color: white;
    line-height: 30px;
    font-size: 18px;
    font-weight: 600;
=======
.footer__column-heading {
    margin: 0;
    color: white;
    line-height: 30px;
    font-size: 18px;
    font-weight: 600;
>>>>>>> f0dc034faaf3e0ba711813c202062aaaef0c5b3c
}