<<<<<<< HEAD
.cards__title {
    margin: 0;
    line-height: 1.15;
    font-size: 24px;
    font-weight: 600;
=======
.cards__title {
    margin: 0;
    line-height: 1.15;
    font-size: 24px;
    font-weight: 600;
>>>>>>> f0dc034faaf3e0ba711813c202062aaaef0c5b3c
}