<<<<<<< HEAD
.table__text_theme_dark {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
=======
.table__text_theme_dark {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
>>>>>>> f0dc034faaf3e0ba711813c202062aaaef0c5b3c
}