<<<<<<< HEAD
.footer__social-icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
=======
.footer__social-icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
>>>>>>> f0dc034faaf3e0ba711813c202062aaaef0c5b3c
}