<<<<<<< HEAD
.two-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 100px auto;
    width: 80%;
}

.two-columns:last-of-type {
    margin-bottom: 0;
=======
.two-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 100px auto;
    width: 80%;
}

.two-columns:last-of-type {
    margin-bottom: 0;
>>>>>>> f0dc034faaf3e0ba711813c202062aaaef0c5b3c
}