.khan__quote-author-subline {
<<<<<<< HEAD
=======
  margin: 0;
>>>>>>> f32cbfb06f361887611fc5ab17463fff340b7835
  margin: 10px 0 68px 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}
