<<<<<<< HEAD
.two-columns__paragraph {
    margin: 0;
    margin-bottom: 30px;
}

.two-columns__paragraph:last-child {
    margin-bottom: 0;
=======
.two-columns__paragraph {
    margin: 0;
    margin-bottom: 30px;
}

.two-columns__paragraph:last-child {
    margin-bottom: 0;
>>>>>>> f0dc034faaf3e0ba711813c202062aaaef0c5b3c
}