<<<<<<< HEAD
.header__subtitle {
    margin: 0;
    font-size: 18px;
    line-height: 25px;
    font-weight: normal;
    position: absolute;
    max-width: 388px;
    left: 64px;
    bottom: 30px;
    z-index: 2;
=======
.header__subtitle {
    margin: 0;
    font-size: 18px;
    line-height: 25px;
    font-weight: normal;
    position: absolute;
    max-width: 388px;
    left: 64px;
    bottom: 30px;
    z-index: 2;
>>>>>>> f0dc034faaf3e0ba711813c202062aaaef0c5b3c
}