<<<<<<< HEAD
.resources__logo-zone {
    max-width: 1100px;
    margin: 80px auto 217px;
    display: flex;
    justify-content: space-between;
=======
.resources__logo-zone {
    max-width: 1100px;
    margin: 80px auto 217px;
    display: flex;
    justify-content: space-between;
>>>>>>> f0dc034faaf3e0ba711813c202062aaaef0c5b3c
}