<<<<<<< HEAD
.khan__author {
    margin: 0;
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
=======
.khan__author {
    margin: 0;
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
>>>>>>> f0dc034faaf3e0ba711813c202062aaaef0c5b3c
}